<footer>

    <div class="container clearfix">

        <div class="row">
        
            <div class="col-7 pr-0">
                <a href="/" class="footer-logo">
                    <img src="/assets/images/logo.png" width="100%" height="auto" alt="" class="img-fluid">
                </a>
                <span class="copyṟight-txt">&copy; 2021 PIXACORE. All rights reserved.</span>
                <ul class="footer-links">
                    <li><a href="https://pixacore.com/privacy-policy" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-5">
                <ul class="footer-icons">
                    <li><a href="https://pixacore.com/linkedin" target="_blank" class="linkedin-icon"></a></li>
                    <li><a href="https://pixacore.com/twitter" target="_blank" class="tweet-icon"></a></li>
                    <li><a href="https://pixacore.com/facebook" target="_blank" class="fb-icon"></a></li>
                    <li><a href="https://pixacore.com/instagram" target="_blank" class="instagram-icon"></a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>