<header>
    <div class="container clearfix">
        <a href="/" class="logo">
            <img src="/assets/images/logo.png" width="100%" height="auto" alt="Pixacore" class="img-fluid">
        </a>

        <div class="primary-nav">
            <a href="javascript:;" class="hamburger-icon d-lg-none">&nbsp;</a>
            <nav>
                <ul class="scrollToSection secondary-nav-ul d-lg-none">
                    <li><a data-href="#our-recipe" href="#our-recipe">Our Recipe</a></li>
                    <li><a data-href="#what-we-do" href="#what-we-do">What We Do</a></li>
                    <li><a data-href="#who-we-are" href="#who-we-are">Who We Are</a></li>
                    <li><a data-href="#our-work" href="#our-work">Our Work</a></li>
                </ul>
                <ul class="primary-nav-ul">
                    <li><a href="/insightful-science">Insightful Science</a></li>
                    <li><a href="/inventive-technology">Inventive Technology</a></li>
                    <li><a href="/join-our-team">Join Our Team</a></li>
                    <li><a href="/#contact-us" class="contact-us-link">Contact Us</a></li>
                </ul>
            </nav>  
        </div>
    </div>
</header>