<!-- Reel Modal start -->
<div class="modal fade reel-modal" id="reelModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content reel-modal-container">
      <iframe frameborder="0" width="640" height="360" allowfullscreen src="https://player.vimeo.com/video/387503266?autoplay=1"></iframe>
    </div>
  </div>
</div>
<!-- Reel Modal start -->



<!-- BLM Modal start -->
<div class="modal fade blm-modal" id="blmModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content BLM-Modal">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col-12 message">
                <p>
                <span>PIXACORE</span> remains committed to the ideals of a society that respects all of its members.
                </p>
              </div>
              <div class="focus-message">
                BLACK LIVES MATTER
              </div>
              <div class="col-12 footer-content">
                <span id="footer-content-span1">PIXACORE</span> proudly supports
                <br>
                <span id="footer-content-span2"> NYC Health + Hospitals/Harlem </span class="footer-content-span2"> 
              </div>
            </div>
          </div>
          <div class="col-2 right-col">
            <img src="assets/images/people-icon.png" alt="">
          </div>
        </div>
        <div class="close-button">
          <a href="javascript:;" data-dismiss="modal"></a>
        </div>
      </div>
    </div>
  </div>
<!-- BLM Modal start -->  


<!-- White Form Modal start -->
<div class="modal fade white-paper-modal" id="whitePaperModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content WhitePaperModal">
          <div class="main-content">
            <span>Digitalizing Medical Affairs & Optimizing Engagement</span> <br> By Jim Steinberg, MBA, and Brian Loh        
          </div>
          <div class="middle-content">
              Please provide your information to receive a recommended digitalization approach for any biopharma firm, including a landscape analysis and guide to transforming medical affairs for engagement.
          </div>
          <div class="row form-content">
            <div class="col-12 col-sm-6 ">
              <img src="assets/images/people-icon.png" alt="">
            </div>
            <div class="col-12 col-sm-6 ">
              <form>
                <div class="form-group">
                  <label for="emailInput">Company Email</label>
                  <input type="email" class="form-control" id="emailInput">
                </div>
                <div class="form-group">
                  <label for="nameInput">Full Name</label>
                  <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="form-group Acknowledge-content">
                  <small>
                    By clicking the download button, you acknowledge that you may also receive periodical updates via email about other <br> game changers in the healthcare industry.
                  </small>
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="close-button">
            <a href="javascript:;" data-dismiss="modal"></a>
          </div>
        
      </div>
    </div>
  </div>
<!-- White Form Modal end -->  