$white: #fff;
$black: #000;
$blue: #109ddb;
$blue2: #007abf;
$blue3: #0056b7;
$pink: #d02db0;
$pink2: #d230b1;
$pink3: #d637b6;
$teal1: #05829a;
$teal2: #02657d;
$body-color: #353434;
$body-color2: #747C7C;

$opensans: 'Open Sans', sans-serif;
$arial: Arial, Helvetica, sans-serif;

